.bestsellerContainer {
  background-color: rgba(209, 191, 172, 0.6);
  color: #333333;
  padding: 40px;
  margin: 40px auto;
  max-width: 1200px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* .bestsellerContainer h3 {
  font-size: 32px;
  font-weight: 500;
  color: #3d3d3d;
  margin-bottom: 20px;
  text-transform: uppercase;
} */
.bestsellerContainer > h3 {
    text-align: center !important;
    display: block !important;
    width: 100% !important;
  }
 

.bestsellerContainer p {
  font-size: 18px;
  color: #555555;
  line-height: 1.5;
}

.bestsellerContainer #bestsellerCard {
  background-color: rgba(170, 136, 97, 0.502);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bestsellerContainer #bestsellerCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(228, 93, 93, 0.15);
}

.bestsellerContainer .btn {
  background-color: #a3917f; 
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  text-transform: uppercase; 
}

.bestsellerContainer .btn:hover {
  background-color: #a3917f7b;
  transform: translateY(-3px); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.bestsellerContainer .btn:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(163, 145, 127, 0.5); 
}

.bestsellerContainer .btn:active {
  transform: translateY(1px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.bestsellerContainer .text {
  text-align: center;
}
/*toast css */
.rainbow-progress-bar .Toastify__progress-bar {
    background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55) !important;
  }
/* change toast success icon color to beige */
:root {
  --toastify-icon-color-success: #d1bfac; 
}