.bestsellerContainer {
  background-color: rgba(119, 98, 87, 0.742);
  color: white;
  padding-bottom: 400px;
}




/* toast css */
.rainbow-progress-bar .Toastify__progress-bar {
    background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55) !important;
  }
/* change toast success icon color to beige */
:root {
  --toastify-icon-color-success: #d1bfac; 
}