.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: rgba(167, 138, 105, 0.8)
  color: #333333; 
  border-top: 1px solid #c2bab2; 
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.05); 
  margin-top: 40px; 
}

.footerContainer div {
  max-width: 300px; 
}

.footerContainer p {
  font-size: 14px;
  color: #555555;
  line-height: 1.6;
}

.footerContainer p a {
  color: #666666; 
  text-decoration: none;
  font-weight: 500;
}

.footerContainer p a:hover {
  color: #a3917f; 
  text-decoration: underline;
}

.footerContainer div p {
  margin: 0; 
}
