/* Reset margins and padding for the entire page */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.header {
    background-image: url("../images/header-picture.png"); 
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar  {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
    padding: 15px 40px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 40px;   /* this one puts the navbar to the right corner */
}

.Logo-container {
    position: absolute;
    top: 30%;
    left: 58%; /* This positions it slightly to the right of center */
    transform: translate(-50%, -50%); /* This centers the container itself */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

.logo-picture {
    height: 70px;
    
}

